doctype html
html
  head
    title Moc icons
    meta(name='viewport',content='width=device-width,initial-scale=1')
    link(rel='stylesheet',href='css/styles.css')
  body
    include:markdown-it ../README.md
    
